.hireMe {
  width: 30vw;
}

.hireMe h1 {
  margin: 20px 0;
}

.content {
  width: 60%;
}

.hireMe p {
  opacity: 0.7;
  margin-bottom: 20px;
}

.aboutMe2 {
  margin-left: 50px;
}

.hireMe ul li {
  width: 100%;
  background-color: #28272c;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.none {
  display: none;
}

.hireMe ul .active {
  background-color: #ff5733;
  color: #000;
}

.card2 {
  padding: 20px;
  background-color: #28272c;
  width: 20vw;
  border-radius: 10px;
}

.experienceTtile {
  margin-left: 50px;
}

.skillsCards {
  margin-top: 25px;
}

.skillsCard {
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
}

.cards {
  margin-bottom: 25px;
  margin-left: 50px;
}

.cardYear {
  color: #ff5733;
  font-size: 18px;
}

.cardExperience {
  font-size: 24px;
  height: 15vh;
}

.card2 .flex {
  gap: 10px;
}

.diploma {
  width: 100%;
}

.certificates {
  margin-left: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.certificates a {
  text-align: center;
  font-size: 24px;
  transition: 0.5s;
}

.certificates a:hover {
  color: #ff5733;
}

.allResume {
  width: 50%;
}

.resumeAboutMe {
  margin-top: 25px;
  flex-direction: column;
}

.resumeAboutMe div {
  margin-bottom: 20px;
}

.resumeAboutMe p {
  font-size: 16px;
  opacity: 0.7;
}

.resumeAboutMe h1 {
  font-size: 20px;
  width: 250px;
}

.skills {
  margin-left: 50px;
}

@media screen and (max-width: 1600px) {
  .resumeAboutMe h1 {
    width: max-content;
  }

  .allResume {
    width: 70%;
  }
}

@media screen and (max-width: 1500px) {
  .card2 {
    width: 17vw;
  }
}

@media screen and (max-width: 1300px) {
  .experienceTtile {
    margin-left: 0;
  }

  .certificates {
    margin-left: 0;
  }

  .skills {
    margin-left: 0;
  }

  .skillsCards {
    justify-content: center;
  }

  .allResume {
    justify-content: center;
  }

  .resumeAboutMe {
    width: 100%;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .aboutMe2 {
    margin-left: 0;
  }

  .cards {
    margin-left: 0;
  }

  .hireMe {
    margin: 0 auto;
    width: 40vw;
  }

  .hireMe2 {
    margin: 0 auto;
    text-align: center;
  }

  .card2 {
    width: 25vw;
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }

  .certificates {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills h1,
  .aboutMe2 h1 {
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .diploma {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .skillsCard {
    width: 15%;
  }

  .skillsCards {
    justify-content: center;
  }

  .card2 {
    width: 30vw;
  }

  .cardExperience {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 900px) {
  .hireMe h1 {
    font-size: 36px;
  }

  .hireMe {
    width: 75%;
  }

  .cardExperience {
    height: max-content;
  }

  .skills h1,
  .aboutMe2 h1,
  .certificates h1,
  .experienceTtile {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .resumeAboutMe .flex h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .resumeAboutMe .flex h1 {
    font-size: 20px;
  }

  .card2 {
    width: 100%;
    height: max-content;
  }

  .skills h1,
  .aboutMe2 h1,
  .certificates h1,
  .experienceTtile {
    font-size: 24px;
  }

  .allResume {
    width: 100%;
  }

  .hireMe ul li {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 600px) {
  .resumeAboutMe .flex h1 {
    font-size: 20px;
  }
}
