.myWork {
  margin: 7% 0;
}

.myWork div:first-child {
  width: 45%;
}

.arrows {
  margin-left: 20px;
}

.projectImage {
  height: 350px;
}

.projectNumber {
  font-family: "Train One";
  font-size: 60px;
  height: 10vh;
}

.projectName {
  font-size: 45px;
  height: 10vh;
}

.projectText {
  height: 12vh;
}

.projectIcon {
  margin: 25px 0;
  width: 60px;
  cursor: pointer;
}

.projectSkills {
  margin: 25px 0;
}

.arrows {
  flex-direction: column;
  gap: 20px;
}

.arrows div {
  margin: 0 0 0 auto;
}

.arrows div img {
  cursor: pointer;
  padding: 10px;
  background-color: #ff5733;
}

@media screen and (max-width: 1700px) {
  .myWork div:first-child {
    width: 40%;
  }

  .projectImage {
    height: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .myWork {
    gap: 20px;
  }

  .arrows {
    gap: 0;
  }

  .projectNumber {
    font-size: 50px;
  }

  .projectName {
    font-size: 40px;
  }
}

@media screen and (max-width: 1350px) {
  .myWork {
    flex-direction: column-reverse;
  }

  .projectImage {
    height: 30vh;
  }

  .left {
    position: absolute;
    left: 2%;
    top: 45%;
  }

  .right {
    position: absolute;
    right: 2%;
    top: 45%;
  }

  .myWork div:first-child {
    width: 80%;
  }

  .arrows {
    margin-left: 0;
    position: relative;
  }

  .projectText {
    height: max-content;
  }

  .projectNumber,
  .projectName {
    height: max-content;
  }
}

@media screen and (max-width: 1000px) {
  .projectNumber {
    font-size: 40px;
  }

  .projectName {
    font-size: 35px;
  }

  .projectIcon {
    width: 45px;
  }

  .arrows div img {
    padding: 5px;
  }
}

@media screen and (max-width: 700px) {
  .projectImage {
    height: 30vh;
  }
}

@media screen and (max-width: 600px) {
  .projectNumber {
    font-size: 35px;
  }

  .projectName {
    font-size: 30px;
    margin: 10px 0;
  }

  .arrows div img {
    padding: 2px;
    width: 20px;
}
}

@media screen and (max-width: 500px) {
  .projectImage {
    height: 20vh;
  }

  .projectNumber {
    font-size: 30px;
  }

  .projectName {
    font-size: 25px;
  }
}
