.myContact form {
    width: 60%;
}

form {
    background-color: #28272C;
    padding: 20px;
    border-radius: 10px;
    color: #ABA8AD;
}

.formInfo {
    flex-wrap: nowrap;
}

form div {
    width: 100%;
    margin-bottom: 15px;
}

form div input,
form select,
form textarea {
    background-color: #1C1B22;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 5vh;
    margin-bottom: 5px;
}

form p {
    opacity: .7;
    margin-bottom: 15px;
}

form select {
    width: 100%;
    height: 5vh;
    margin-bottom: 15px;
    padding: 0 10px;
}

form select option:hover {
    background-color: #FF5733;
}

form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 25vh;
    margin-bottom: 15px;
}

.iconsCard {
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #28272C;
}

.myContact {
    margin-bottom: 25px;
}

.myContact img {
    width: 30px;
}

.myContact div p {
    font-size: 14px;
    opacity: .7;
}

.myContact div h2 {
    font-size: 20px;
}

.myContact2 {
    margin-bottom: 20px;
}

.formInfo {
    gap: 15px;
}

@media screen and (max-width: 1400px) {
    .myContact {
        flex-direction: column;
    }

    .myContact2 {
        flex-direction: row;
    }

    .myContact form {
        width: 80%;
    }
}

@media screen and (max-width: 1100px) {
    form h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 1000px) {
    .myContact {
        gap: 20px;
    }

    .iconsCard {
        width: 25px;
        height: 25px;
        padding: 10px;
    }

    .myContact img {
        width: 25px;
    }

    .myContact div h2 {
        font-size: 18px;
    }

    form h1 {
        font-size: 30px;
    }

    .formInfo {
        gap: 10px;
        flex-direction: column;
    }

    form div span {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .btn {
        padding: 6px 14px;
        font-size: 14px;
    }

    form h1 {
        font-size: 24px;
    }

    .formInfo input {
        width: 100%;
    }
}

form div span {
    color: red;
    font-size: 12px;
    width: 50%;
}
