.number {
  font-family: "Train One", system-ui;
}

.card {
  width: 45%;
  height: 40vh;
}

.arrowContainer {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.5s;
  margin-left: auto;
}

.arrowBlack {
  width: 25px;
  padding: 17px;
  transition: 0.5s;
}

.lineCard {
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
}

.textCard {
  opacity: 0.7;
  margin: 20px 0;
  height: 17vh;
}

.arrowContainer:hover {
  background-color: #ff5733;
}

.arrowContainer:hover .arrowBlack {
  transform: rotate(-45deg);
}

.cardSkill {
  font-size: 40px;
}

.number,
.cardSkill {
  transition: 0.5s;
}

.card:hover .number,
.card:hover .cardSkill {
  color: #ff5733;
}

.card:hover .arrowContainer {
  background-color: #ff5733;
}

@media screen and (max-width: 1400px) {
  .cardSkill {
    font-size: 30px;
  }

  .number {
    font-size: 40px;
  }

  .card {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1300px) {
  .textCard {
    height: 20vh;
  }

  .card {
    height: 45vh;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 100%;
    height: 35vh;
  }

  .textCard {
    height: 10vh;
  }
}

@media screen and (max-width: 800px) {
  .textCard {
    height: max-content;
  }

  .card {
    margin-bottom: 20px;
    height: max-content;
  }

  .arrowBlack {
    width: 15px;
    padding: 12px;
  }

  .arrowContainer {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .cardSkill {
    font-size: 24px;
  }

  .number {
    font-size: 30px;
  }

  .textCard {
    font-size: 14px;
  }
}
